
@viewport {
  width: 320px auto;
  width: 320px extend-to-zoom;
  width: extend-to-zoom 124px;
  min-width: 320px;
  max-width: 320px;
  max-width: 320px !important;

}

@media (max-width: 699px) and (min-width: 520px) {
  @viewport {
    width: 640px;
  }
}

@-moz-viewport {
  width: 320px auto;
}

@-ms-viewport {
  width: 320px auto;
  orientation: landscape;
  orientation: portrait;
  orientation: auto;
  orientation: auto !important;
}

@-webkit-viewport {
  width: 320px auto;
}

@viewport {
  width: auto;
}

@viewport {
  width: 397px;
}

@viewport {
  width: 397px;
}

@media screen and (width: 397px) {
  @viewport {
    width: 500px;
  }
}

@viewport {
  width: extend-to-zoom 500px;
  height: extend-to-zoom 600px;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@viewport {
  zoom: 2.0;
  zoom: 2.0 !important;
  width: auto;
  height: extend-to-zoom 100%;
}

@viewport {
  width: 480px;
  zoom: 2.0;
  user-zoom: zoom;
  user-zoom: fixed;
  user-zoom: initial;
  user-zoom: inherit;
  user-zoom: unset;
}

@viewport {
  min-width: 1024px;
}

@viewport {
  min-width: 980px;
}
