/* SYNTAX TEST "Packages/CSS3/CSS3.sublime-syntax" */


/* TEST A PROPERTIES */
foo {
	align-content: flex-start;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^^^^ support.constant.property-value.css */
/*                           ^ punctuation.terminator.rule.css */
	align-content: flex-end;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
	align-content: center;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
	align-content: space-between;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^^^^^^^ support.constant.property-value.css */
/*                              ^ punctuation.terminator.rule.css */
	align-content: space-around;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
	align-content: stretch;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^ support.constant.property-value.css */
/*                        ^ punctuation.terminator.rule.css */
	align-content: inherit;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^ support.constant.property-value.css */
/*                        ^ punctuation.terminator.rule.css */
	align-content: initial;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^^ support.constant.property-value.css */
/*                        ^ punctuation.terminator.rule.css */
	align-content: revert;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
	align-content: unset;
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
	align-content: var(--foo);
/*  ^^^^^^^^^^^^^ support.constant.property-name.css */
/*               ^ punctuation.separator.key-value.css */
/*                 ^^^ support.function.var.css */
/*                    ^ punctuation.section.function.begin.css */
/*                     ^^^^^ support.constant.property-name.custom.css
/*                          ^ punctuation.section.function.end.css */
/*                           ^ punctuation.terminator.rule.css */

	align-items: flex-start;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
	align-items: flex-end;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
	align-items: center;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
	align-items: baseline;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
	align-items: stretch;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
	align-items: inherit;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
	align-items: initial;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
	align-items: revert;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
	align-items: unset;
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
	align-items: var(--foo);
/*  ^^^^^^^^^^^ support.constant.property-name.css */
/*             ^ punctuation.separator.key-value.css */
/*               ^^^ support.function.var.css */
/*                  ^ punctuation.section.function.begin.css */
/*                   ^^^^^ support.constant.property-name.custom.css
/*                        ^ punctuation.section.function.end.css */
/*                         ^ punctuation.terminator.rule.css */

	align-self: auto;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */
	align-self: flex-start;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^^^^ support.constant.property-value.css */
/*                        ^ punctuation.terminator.rule.css */
	align-self: flex-end;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
	align-self: center;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
	align-self: baseline;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
	align-self: stretch;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
	align-self: inherit;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
	align-self: initial;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
	align-self: revert;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
	align-self: unset;
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^^^ support.constant.property-value.css */
/*                   ^ punctuation.terminator.rule.css */
	align-self: var(--foo);
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^ support.function.var.css */
/*                 ^ punctuation.section.function.begin.css */
/*                  ^^^^^ support.constant.property-name.custom.css
/*                       ^ punctuation.section.function.end.css */
/*                        ^ punctuation.terminator.rule.css */

	alignment-baseline: baseline;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^ support.constant.property-value.css */
/*                              ^ punctuation.terminator.rule.css */
	alignment-baseline: text-bottom;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^^^^ support.constant.property-value.css */
/*                                 ^ punctuation.terminator.rule.css */
	alignment-baseline: alphabetic;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^^^ support.constant.property-value.css */
/*                                ^ punctuation.terminator.rule.css */
	alignment-baseline: ideographic;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^^^^ support.constant.property-value.css */
/*                                 ^ punctuation.terminator.rule.css */
	alignment-baseline: middle;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
	alignment-baseline: central;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
	alignment-baseline: mathematical;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^^^^^ support.constant.property-value.css */
/*                                  ^ punctuation.terminator.rule.css */
	alignment-baseline: text-top;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^^ support.constant.property-value.css */
/*                              ^ punctuation.terminator.rule.css */
	alignment-baseline: bottom;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
	alignment-baseline: center;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
	alignment-baseline: top;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
	alignment-baseline: inherit;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
	alignment-baseline: initial;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
	alignment-baseline: revert;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
	alignment-baseline: unset;
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^^^ support.constant.property-value.css */
/*                           ^ punctuation.terminator.rule.css */
	alignment-baseline: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^ support.function.var.css */
/*                         ^ punctuation.section.function.begin.css */
/*                          ^^^^^ support.constant.property-name.custom.css
/*                               ^ punctuation.section.function.end.css */
/*                                ^ punctuation.terminator.rule.css */


	all: inherit;
/*  ^^^ support.constant.property-name.css */
/*     ^ punctuation.separator.key-value.css */
/*       ^^^^^^^ support.constant.property-value.css */
/*              ^ punctuation.terminator.rule.css */
	all: initial;
/*  ^^^ support.constant.property-name.css */
/*     ^ punctuation.separator.key-value.css */
/*       ^^^^^^^ support.constant.property-value.css */
/*              ^ punctuation.terminator.rule.css */
	all: revert;
/*  ^^^ support.constant.property-name.css */
/*     ^ punctuation.separator.key-value.css */
/*       ^^^^^^ support.constant.property-value.css */
/*             ^ punctuation.terminator.rule.css */
	all: unset;
/*  ^^^ support.constant.property-name.css */
/*     ^ punctuation.separator.key-value.css */
/*       ^^^^^ support.constant.property-value.css */
/*            ^ punctuation.terminator.rule.css */
	all: var(--foo);
/*  ^^^ support.constant.property-name.css */
/*     ^ punctuation.separator.key-value.css */
/*       ^^^ support.function.var.css */
/*          ^ punctuation.section.function.begin.css */
/*           ^^^^^ support.constant.property-name.custom.css
/*                ^ punctuation.section.function.end.css */
/*                 ^ punctuation.terminator.rule.css */

	animation: 3s ease-in 1s 2 reverse both paused slidein;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^^^^ support.constant.property-value.css */
/*                        ^ constant.numeric.css */
/*                         ^ keyword.other.unit.css */
/*                           ^ constant.numeric.css */
/*                             ^^^^^^^ support.constant.property-value.css */
/*                                     ^^^^ support.constant.property-value.css */
/*                                          ^^^^^^ support.constant.property-value.css */
/*                                                 ^^^^^^^ string.unquoted.identifier.css */
/*                                                        ^ punctuation.terminator.rule.css */
	animation: 3s linear 1s slidein;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^^^ support.constant.property-value.css */
/*                       ^ constant.numeric.css */
/*                        ^ keyword.other.unit.css */
/*                          ^^^^^^^ string.unquoted.identifier.css */
/*                                 ^ punctuation.terminator.rule.css */
	animation: 3s slidein;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^^^^ string.unquoted.identifier.css */
/*                       ^ punctuation.terminator.rule.css */
	animation: 4s linear 0s infinite alternate move_eye;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
/*                        ^ keyword.other.unit.css */
/*                          ^^^^^^^^ support.constant.property-value.css */
/*                                   ^^^^^^^^^ support.constant.property-value.css */
/*                                             ^^^^^^^^ string.unquoted.identifier.css */
/*                                                     ^ punctuation.terminator.rule.css */
	animation: 3s none backwards;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^ support.constant.property-value.css */
/*                     ^^^^^^^^^ support.constant.property-value.css */
/*                              ^ punctuation.terminator.rule.css */
	animation: 3s backwards;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^ constant.numeric.css */
/*              ^ keyword.other.unit.css */
/*                ^^^^^^^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
	animation: initial;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
	animation: inherit;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
	animation: revert;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^^^ support.constant.property-value.css */
/*                   ^ punctuation.terminator.rule.css */
	animation: unset;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */
	animation: var(--foo);
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^ support.function.var.css */
/*                ^ punctuation.section.function.begin.css */
/*                 ^^^^^ support.constant.property-name.custom.css
/*                      ^ punctuation.section.function.end.css */
/*                       ^ punctuation.terminator.rule.css */


	animation-delay: 3s;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^ constant.numeric.css */
/*                    ^ keyword.other.unit.css */
/*                     ^ punctuation.terminator.rule.css */
	animation-delay: 2s, 4ms;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^ constant.numeric.css */
/*                    ^ keyword.other.unit.css */
/*                       ^ constant.numeric.css */
/*                        ^^ keyword.other.unit.css */
/*                          ^ punctuation.terminator.rule.css */
	animation-delay: initial;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^^^^^^^ support.constant.property-value.css */
/*                          ^ punctuation.terminator.rule.css */

	animation-delay: inherit;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^^^^^^^ support.constant.property-value.css */
/*                          ^ punctuation.terminator.rule.css */
	animation-delay: revert;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^^^^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
	animation-delay: unset;
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^^^^^ support.constant.property-value.css */
/*                        ^ punctuation.terminator.rule.css */
	animation-delay: var(--foo);
/*  ^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                 ^ punctuation.separator.key-value.css */
/*                   ^^^ support.function.var.css */
/*                      ^ punctuation.section.function.begin.css */
/*                       ^^^^^ support.constant.property-name.custom.css
/*                            ^ punctuation.section.function.end.css */
/*                             ^ punctuation.terminator.rule.css */

	animation-direction: normal;
	animation-direction: reverse;
	animation-direction: alternate;
	animation-direction: alternate-reverse;
	animation-direction: normal, reverse;
	animation-direction: alternate, reverse, normal;
	animation-direction: inherit;
	animation-direction: initial;
	animation-direction: revert;
	animation-direction: unset;
	animation-direction: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                     ^ punctuation.separator.key-value.css */
/*                       ^^^ support.function.var.css */
/*                          ^ punctuation.section.function.begin.css */
/*                           ^^^^^ support.constant.property-name.custom.css
/*                                ^ punctuation.section.function.end.css */
/*                                 ^ punctuation.terminator.rule.css */


	animation-duration: 6s;
	animation-duration: 120ms;
	animation-duration: 1s, 15s;
	animation-duration: 10s, 30s, 230ms;
	animation-duration: initial;
	animation-duration: inherit;
	animation-duration: revert;
	animation-duration: unset;
	animation-duration: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                      ^^^ support.function.var.css */
/*                         ^ punctuation.section.function.begin.css */
/*                          ^^^^^ support.constant.property-name.custom.css
/*                               ^ punctuation.section.function.end.css */
/*                                ^ punctuation.terminator.rule.css */


	animation-fill-mode: none;
	animation-fill-mode: forwards;
	animation-fill-mode: backwards;
	animation-fill-mode: both;
	animation-fill-mode: none, backwards;
	animation-fill-mode: both, forwards, none;
	animation-fill-mode: initial;
	animation-fill-mode: inherit;
	animation-fill-mode: revert;
	animation-fill-mode: unset;
	animation-fill-mode: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                     ^ punctuation.separator.key-value.css */
/*                       ^^^ support.function.var.css */
/*                          ^ punctuation.section.function.begin.css */
/*                           ^^^^^ support.constant.property-name.custom.css
/*                                ^ punctuation.section.function.end.css */
/*                                 ^ punctuation.terminator.rule.css */


	animation-iteration-count: infinite;
	animation-iteration-count: 3;
	animation-iteration-count: 2.3;
	animation-iteration-count: 2, 0, infinite;
	animation-iteration-count: initial;
	animation-iteration-count: inherit;
	animation-iteration-count: revert;
	animation-iteration-count: unset;
	animation-iteration-count: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                           ^ punctuation.separator.key-value.css */
/*                             ^^^ support.function.var.css */
/*                                ^ punctuation.section.function.begin.css */
/*                                 ^^^^^ support.constant.property-name.custom.css
/*                                      ^ punctuation.section.function.end.css */
/*                                       ^ punctuation.terminator.rule.css */


	animation-name: none;
	animation-name: test_05;
	animation-name: -specific;
	animation-name: sliding-vertically;
	animation-name: test1;
	animation-name: test1, animation4;
	animation-name: none, -moz-specific, sliding;
	animation-name: initial;
	animation-name: inherit;
	animation-name: revert;
	animation-name: unset;
	animation-name: var(--foo);
/*  ^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                ^ punctuation.separator.key-value.css */
/*                  ^^^ support.function.var.css */
/*                     ^ punctuation.section.function.begin.css */
/*                      ^^^^^ support.constant.property-name.custom.css
/*                           ^ punctuation.section.function.end.css */
/*                            ^ punctuation.terminator.rule.css */


	animation-play-state: running;
	animation-play-state: paused;
	animation-play-state: paused, running, running;
	animation-play-state: inherit;
	animation-play-state: initial;
	animation-play-state: revert;
	animation-play-state: unset;
	animation-play-state: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                      ^ punctuation.separator.key-value.css */
/*                        ^^^ support.function.var.css */
/*                           ^ punctuation.section.function.begin.css */
/*                            ^^^^^ support.constant.property-name.custom.css
/*                                 ^ punctuation.section.function.end.css */
/*                                  ^ punctuation.terminator.rule.css */


	animation-timing-function: ease;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
	animation-timing-function: ease-in-out;
	animation-timing-function: linear;
	animation-timing-function: step-start;
	animation-timing-function: step-end;
	animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
	animation-timing-function: steps(4, end);
	animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
	animation-timing-function: inherit;
	animation-timing-function: initial;
	animation-timing-function: revert;
	animation-timing-function: unset;
	animation-timing-function: var(--foo);
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^ support.constant.property-name.css */
/*                           ^ punctuation.separator.key-value.css */
/*                             ^^^ support.function.var.css */
/*                                ^ punctuation.section.function.begin.css */
/*                                 ^^^^^ support.constant.property-name.custom.css
/*                                      ^ punctuation.section.function.end.css */
/*                                       ^ punctuation.terminator.rule.css */


	appearance: auto;
	appearance: none;
	appearance: initial;
	appearance: inherit;
	appearance: revert;
	appearance: unset;
	appearance: var(--foo);
/*  ^^^^^^^^^^ support.constant.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*              ^^^ support.function.var.css */
/*                 ^ punctuation.section.function.begin.css */
/*                  ^^^^^ support.constant.property-name.custom.css
/*                       ^ punctuation.section.function.end.css */
/*                        ^ punctuation.terminator.rule.css */

}
