/* SYNTAX TEST "Packages/CSS3/CSS3.sublime-syntax" */


@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    width: auto;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^^ support.constant.property-value.css */
/*             ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    width: 397px;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^ constant.numeric.css */
/*            ^^ keyword.other.unit.css */
/*              ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@media screen and (width: 397px) {
    @viewport {
/*  ^ keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
/*   ^^^^^^^^ keyword.control.at-rule.viewport.css */
/*           ^ -keyword.control.at-rule.viewport.css */
/*            ^ punctuation.section.at-viewport.begin.css */
        width: 500px;
/*      ^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^ constant.numeric.css */
/*                ^^ keyword.other.unit.css */
/*                  ^ punctuation.terminator.rule.css */
    }
/*  ^ punctuation.section.at-viewport.end.css */
}

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    width: extend-to-zoom 980px;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^^^^^^ support.constant.property-value.css */
/*                       ^ -support.constant.property-value.css */
/*                        ^^^ constant.numeric.css */
/*                           ^^ keyword.other.unit.css */
/*                             ^ punctuation.terminator.rule.css */
    min-zoom: 0.25;
/*  ^^^^^^^^ support.constant.property-name.css */
/*          ^ punctuation.separator.key-value.css */
/*            ^^^^ constant.numeric.css */
/*                ^ punctuation.terminator.rule.css */
    max-zoom: 5;
/*  ^^^^^^^^ support.constant.property-name.css */
/*          ^ punctuation.separator.key-value.css */
/*            ^ constant.numeric.css */
/*             ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    width: extend-to-zoom 500px;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^^^^^^ support.constant.property-value.css */
/*                       ^ -support.constant.property-value.css */
/*                        ^^^ constant.numeric.css */
/*                           ^^ keyword.other.unit.css */
/*                             ^ punctuation.terminator.rule.css */
    height: extend-to-zoom 600px;
/*  ^^^^^^ support.constant.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*          ^^^^^^^^^^^^^^ support.constant.property-value.css */
/*                        ^ -support.constant.property-value.css */
/*                         ^^^ constant.numeric.css */
/*                            ^^ keyword.other.unit.css */
/*                              ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    zoom: 1.0;
/*  ^^^^ support.constant.property-name.css */
/*      ^ punctuation.separator.key-value.css */
/*        ^^^ constant.numeric.css */
/*           ^ punctuation.terminator.rule.css */
    width: extend-to-zoom;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^^^^^^ support.constant.property-value.css */
/*                       ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    zoom: 2.0;
/*  ^^^^ support.constant.property-name.css */
/*      ^ punctuation.separator.key-value.css */
/*        ^^^ constant.numeric.css */
/*           ^ punctuation.terminator.rule.css */
    width: auto;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^^ support.constant.property-value.css */
/*             ^ punctuation.terminator.rule.css */
    height: extend-to-zoom 100%;
/*  ^^^^^^ support.constant.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*          ^^^^^^^^^^^^^^ support.constant.property-value.css */
/*                         ^^^ constant.numeric.css */
/*                            ^ keyword.other.unit.css */
/*                             ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    width: 480px;
/*  ^^^^^ support.constant.property-name.css */
/*       ^ punctuation.separator.key-value.css */
/*         ^^^ constant.numeric.css */
/*            ^^ keyword.other.unit.css */
/*              ^ punctuation.terminator.rule.css */
    zoom: 2.0;
/*  ^^^^ support.constant.property-name.css */
/*      ^ punctuation.separator.key-value.css */
/*        ^^^ constant.numeric.css */
/*           ^ punctuation.terminator.rule.css */
    user-zoom: zoom;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^ support.constant.property-value.css */
/*                 ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */

@viewport {
/* <- keyword.control.at-rule.viewport.css punctuation.definition.keyword.css */
 /* <- keyword.control.at-rule.viewport.css */
/*^^^^^^^ keyword.control.at-rule.viewport.css */
/*       ^ -keyword.control.at-rule.viewport.css */
/*        ^ punctuation.section.at-viewport.begin.css */
    min-width: 1024px;
/*  ^^^^^^^^^ support.constant.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*             ^^^^ constant.numeric.css */
/*                 ^^ keyword.other.unit.css */
/*                   ^ punctuation.terminator.rule.css */
}
/* <- punctuation.section.at-viewport.end.css */
