/* SYNTAX TEST "Packages/CSS3/CSS3.sublime-syntax" */


/* TEST M PROPERTIES */
foo {
	margin: 1em;
	margin: 5% auto;
	margin: 1em auto 2em;
	margin: 2px 1em 0 auto;
	margin: inherit;
	margin: initial;
	margin: unset;

	margin-bottom: 10px;
	margin-bottom: 1em;
	margin-bottom: 5%;
	margin-bottom: auto;
	margin-bottom: inherit;
	margin-bottom: initial;
	margin-bottom: unset;

	margin-left: 10px;
	margin-left: 1em;
	margin-left: 5%;
	margin-left: auto;
	margin-left: inherit;
	margin-left: initial;
	margin-left: unset;

	margin-right: 20px;
	margin-right: 1em;
	margin-right: 5%;
	margin-right: auto;
	margin-right: inherit;
	margin-right: initial;
	margin-right: unset;

	margin-top: 10px;
	margin-top: 1em;
	margin-top: 5%;
	margin-top: auto;
	margin-top: inherit;
	margin-top: initial;
	margin-top: unset;

	marker:;

	marker-end:;

	marker-knockout-left:;

	marker-knockout-right:;

	marker-mid:;

	marker-pattern:;

	marker-segment:;

	marker-side:list-item;
	marker-side:list-container;

	marker-start:;


}
